<div class="container">
  {{#each recipes}}
  <div class="one-recipe">
    <a href="/recipes/{{id}}">
    <img class="img-cirlce" src="images{{image}}" alt="{{name}}"/></a>
    <p><a href="/recipes/{{id}}">{{name}}</a></p>
  </div>
  {{/each}}
</div>

